html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
.container1 {
    background-color: #fbf8f3;
    
}

.logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: #3180f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
}